{% extends "base.html" %}

{% load static %}
{% block content %}
    <H1>Classic Argentine breakfasts</H1>
{% endblock %}

{% block recipes %}
<body>

    <div class="breakfast-container">

      <div class="">
        <div class="breakfastdiv">
         <img class="breakfastimage" src="https://fotos.perfil.com/2023/07/07/trim/1280/720/yerba-mate-1605334.jpg">
          <h3 class='breakfasttitle' id="title">Yerba Mate</h3>
          <p class='breakfastp'>
            Hey there, mate! So, picture this: You're strolling through the lively streets of Argentina, sun shining, tango music playing in the background, and suddenly, someone hands you a cup of Yerba Mate. What in the mate-ic universe is that, right? Let's dive into the green sea of cultural joy!</p>
          <p class='breakfastp'>Firstly, Yerba Mate is not just a drink; it's a whole experience, a social glue that bonds Argentinians tighter than a tango embrace. It's like the national drink, but instead of a liquid flag, it's a cup of herb-infused friendship.</p>
          <p class='breakfastp'>So, imagine Yerba Mate as the ultimate South American tea party. You've got your mate, which is basically a fancy hollowed-out gourd, a bombilla (pronounced bombi-sha), which is a snazzy metal straw with a filter, and of course, the magical green powder – the yerba.</p>
          <p class='breakfastp'>Now, here comes the tricky part for first-timers. Argentinians are Yerba Mate maestros, swirling and sipping like they were born with a mate in hand. For us foreigners, it's a bit of a balancing act. Hold the mate, insert the bombilla, pour in hot water, and voilà! You're now officially a Yerba Mate apprentice.</p>
          <p class='breakfastp'>The taste? Ah, it's like a herbal hug for your taste buds. Earthy, slightly bitter, and a little grassy, just like the Argentine pampas. And, it's not just a drink; it's a social contract. When someone hands you a mate, it's like they're saying, "Hey, let's share a moment and some stories."</p>
          <p class='breakfastp'>Oh, and the mate etiquette! It's a whole dance. Don't say gracias after your first sip; that's like slamming the door on hospitality. Instead, hand the mate back with a gracias, indicating you're done. It's a non-verbal conversation, and it's beautiful.</p>
          <p class='breakfastp'>So, next time you find yourself in Argentina and someone offers you Yerba Mate, don't panic. Embrace the green wave, sip, share, and immerse yourself in a tradition that's more than just a drink; it's a cultural embrace. Salud! 🌿🇦🇷</p>
        </div>


        <div class="breakfastdiv">
          <img class="breakfastimage" src="https://www.cronista.com/files/image/467/467194/62bcabe95cbc1.jpg">
          <h3 class='breakfasttitle' id="title">Medialunas</h3>
          <p class='breakfastp'>
            Well, buckle up, because we're about to embark on a journey to the breakfast heaven of Argentina – the land of Medialunas. Imagine a morning in Buenos Aires, the aroma of freshly brewed coffee wafting through the air, and then, behold, a plate of these flaky, buttery wonders arrives – the Medialunas.


          </p>
          <p class='breakfastp'>
            Now, Medialunas are like croissants, but with an Argentine twist. They're like the cool cousin of croissants, wearing a sprinkle of sugar, baked to golden perfection, and ready to make your taste buds do the tango.
          </p>
          <p class='breakfastp'>
            Firstly, let's talk appearance. These crescent-shaped delights look like they just stepped out of a pastry runway. They've got this glossy exterior that glistens in the morning sun, inviting you to take a bite. And the layers – oh, the layers! They're like the pages of a good book, promising a delicious plot twist with every fold.
          </p>
          <p class='breakfastp'>Now, the taste. Close your eyes and imagine biting into a cloud of buttery goodness. That's Medialunas for you. Sweet, flaky, and so light that you'll be questioning whether you're eating a pastry or a piece of heaven.</p>
          <p class='breakfastp'>But here's the thing – Medialunas are not just a breakfast item; they're a ritual. Pair them with a strong cup of Argentine coffee or a milky cortado, and you're in for a treat. The dunking possibilities are endless, my friend.</p>
          <p class='breakfastp'>And let's not forget the dulce de leche. Oh yes, the caramel nectar of the gods. You can spread it on your Medialuna like sunshine on a summer day – generously and with pure joy.</p>
          <p class='breakfastp'>Now, the etiquette. Don't be shy; grab one with your hands and dig in. No need for fancy cutlery here. And the crumbs? Consider them the remnants of a delicious battle, proudly displayed on your plate.</p>
          <p class='breakfastp'>So, whether you're an early riser or a brunch enthusiast, Medialunas are the Argentine wake-up call you never knew you needed. They're not just pastries; they're a symbol of mornings done right – a little sweetness to kickstart your day. ¡Buen provecho! 🥐🇦🇷</p>
        </div>


        <div class="breakfastdiv">
          <img class="breakfastimage" src="https://chasingchanelle.com/wp-content/uploads/2023/01/Dulce-de-leche.jpg">
          <h3 class='breakfasttitle' id="title">Dulce de Leche</h3>
          <p class='breakfastp'>Hold on tight because we're diving into the sweet symphony of Argentina – the one and only Dulce de Leche. Close your eyes and imagine a creamy, caramel concoction so divine that even the sugar gods are jealous.</p>
          <p class='breakfastp'>Alright, let's break it down. Dulce de Leche is not just a spread; it's an institution. Picture this: sweetened condensed milk meets slow and patient cooking, forming a velvety caramel magic. It's the nectar of sweetness that turns every dessert into a masterpiece.

          </p>
          <p class='breakfastp'>Firstly, the consistency. It's like satin in a jar – smooth, luscious, and irresistible. Open that jar, and you'll be met with a swirl of golden goodness that's ready to transform anything it touches.

          </p>
          <p class='breakfastp'>Now, how to enjoy it? The possibilities are endless. Spread it on toast, and you've got breakfast bliss. Drizzle it over pancakes or waffles, and suddenly you're in a five-star brunch. Dunk cookies in it, and you've just upgraded your snack game to legendary status. And, of course, the classic pairing with Medialunas – it's like a love story written in caramel.

          </p>
          <p class='breakfastp'>But here's the kicker – Dulce de Leche is not just a topping; it's the heart and soul of Argentine desserts. Alfajores, those delicate sandwich cookies? Dulce de Leche is the glue that holds them together. Facturas, the sweet pastries? Dulce de Leche is the surprise waiting inside, ready to delight.

          </p>
          <p class='breakfastp'>And the etiquette? Spoon it, spread it, or just eat it by the spoonful – there's no wrong way. Embrace the sweetness; life is too short for skimpy dollops.


        </p>
          <p class='breakfastp'>If you've never tried Dulce de Leche, imagine a caramel dreamland, and you're pretty close. It's not just a condiment; it's a celebration. So, next time you crack open that jar, remember – you're about to embark on a sweet journey to the heart of Argentina. ¡Dulce vida! 🍮🇦🇷

          </p>

        </div>

      </div>



    </div>

    <div class="container">

      <hr>
      <footer>
        <div >
          <div >
            <p class='breakfastp'>Copyright Tango Taste Buds </p>
          </div>
        </div>
      </footer>
      
    </div>


  </body>
{% endblock %}